@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #787486;
  --red: #d6173a;
  --green: #7ac555;
  --purple: #760dde;
  --orange: #ffa500;
  --blue: #76a5ea;
  --pink: #e876ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
