:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #787486;
  --red: #d6173a;
  --green: #7ac555;
  --purple: #760dde;
  --orange: #ffa500;
  --blue: #76a5ea;
  --pink: #e876ea;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  font-weight: 500;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Pretendard', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}