.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}

.line {
  border: none;
  height: 2px;
  background-color: var(--black);
  margin: 10px 0;
}